/*reset stylesheet*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #000000;
    height: 100%;
    border-style: 100%;
}
body {
    height: 100%;
    width: 100%;
}

.main-page-button-wrapper {
    /*background-color: #f1c47b;*/
    margin-top: 2%;
    margin-left: 10%;
    padding: 2px;
    border-radius: 10px;
    border: 0 solid transparent;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.box-logo {
    width: 70px;
    height: 70px;
    margin: 10px auto;
    position: relative;
    top: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.box-shadow {
    width: 70px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
    top: 40px;
    position: relative;
    opacity: 0.4;
    background-color: #ccc;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.box-logo:hover {
    top: 30px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
.containers:hover > .box-shadow {
    width: 50px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border:none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.input-error {
    background-color: rgba(255, 0, 51, 0.67);
    color: white;
    width: 70%;
    height: 40px;
    margin: auto;
    padding-left: 20px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*********containers*********/
.error-span {
    color: red;
}

.forgot-link {
    text-decoration: none;
}

.god-container {
    /* background-color: #886227; */
    /*background-color: white;*/
    /*border: 3px solid #886227;*/
    display: flex;
    margin: auto;
    /*padding: 0.3%;*/
    border-radius: 20%;
    /* width: auto; */
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 6px 48px -13px #886227;
}

.r-god-container {
    /*background-color: white;*/
    /*border: 3px solid #886227;*/
    display: flex;
    margin: auto;
    border-radius: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 6px 48px -13px #886227;
}

.super-container1 {
    background: linear-gradient(90deg, #e3e3e3 0%, #b38a5a 100%);
    flex: 1;
    padding: 8%;
    border-radius: 5% 0 0 5%;
    /* height: fit-content; */
}

.r-super-container1 {
    background: linear-gradient(90deg, #e3e3e3 0%, #b38a5a 100%);
    flex: 1;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
}

.super-container2 {
    background: linear-gradient(90deg, #b38a5a 0%, #e3e3e3 100%);
    flex: 3;
    padding-top: 2%;
    border-radius: 0 5% 5% 0;
}

.r-super-container2 {
    background: linear-gradient(90deg, #b38a5a 0%, #e3e3e3 100%);
    flex: 3;
    padding-top: 2%;
    height: 100%;
    overflow-y: auto;
}

.text-with-hover {
    color: #886227;
}

.text-with-hover:hover {
    color: #6c4915;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}
/* 7 */
.btn-7 {
    background: linear-gradient(
        0deg,
        rgba(208, 175, 134, 0.98) 0%,
        #886227 100%
    );
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: #886227;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
        7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.btn-7:before {
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover {
    color: #886227;
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #886227;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
        7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}

/*********titles & paragraphs*******/
h1 {
    margin-bottom: 2%;
    font-size: 3em;
}

.title-h2 {
    width: fit-content;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

.subtitle-p {
    padding: 3%;
    font-family: "Montserrat", sans-serif;
}

.r-subtitle-p {
    padding: 3%;
    margin-top: 20px;
    margin-bottom: 65px;
    font-family: "Montserrat", sans-serif;
}

p,
label {
    font-family: "Montserrat", sans-serif;
}
/*****buttons*****/

.resetbutton {
    width: auto;
    padding: 1%;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    border-radius: 30px;
    border: 0 solid transparent;
    background-color: #f1c47b;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.div-button1 {
    margin-top: 55px;
}

.button {
    margin-top: 60px;
}

.button1 {
    /* margin-top: 6%;
    margin-bottom: 30%; */
    width: 50px;
    padding: 3%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border: 0 solid transparent;
    background-color: #f1c47b;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.button1:hover,
.button2:hover {
    background-color: #e79e28;
}
.button2 {
    background-color: #f1c47b;
    margin-top: 10%;
    margin-bottom: 5%;
    width: fit-content;
    padding: 1.5%;
    border-radius: 800px;
    border: 0 solid transparent;
    cursor: pointer;
}
/******form******/
.input-div {
    display: block;
    margin: 1%;
    margin-bottom: 20px;
}

.input-div > input {
    /* width: 45%;
    padding: 1%; */
    width: 70%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(235, 235, 245);
    border: 0 solid transparent;
}

.input-div > select {
    /* width: 45%;
      padding: 1%; */
    width: 70%;
    height: 40px;
    padding-left: 20px;
    border-radius: 100px;
    background-color: rgb(235, 235, 245);
    border: 0 solid transparent;
    margin-top: 10px;
    margin-left: -10px;
}

.input-div > textarea {
    /* width: 45%;
      padding: 1%; */
    width: 70%;
    height: 100px;
    padding-left: 20px;
    /* border-radius: 100px; */
    background-color: rgb(235, 235, 245);
    border: 0 solid transparent;
    margin-top: 10px;
    margin-left: -10px;
    resize: none;
}

.do-you-subrscibe {
    margin-top: 3%;
    margin-bottom: 1%;
}

/*****icons*****/
.buttons-login {
    margin-bottom: 2%;
}
.fab {
    width: 10%;
    padding: 1%;
    color: rgb(180, 171, 158);
}
.fab:hover {
    color: rgb(102, 96, 88);
}

.type-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16%;
}

.interests-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16%;
}

.additionals-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16%;
}

.interesting-types-group-div {
    margin-top: 10px;
}

.interesting-types-label {
    display: none;
}

.interesting-types {
    max-height: 150px;
    overflow-y: scroll;
}

.interestings-list {
    display: none;
}

.show-interestings-list {
    display: flex;
}

.organisation-div {
    display: none;
}

.show-organisation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16%;
}

.additionals-group {
    display: none;
}

.show-additional-types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16%;
}

.password-group {
    position: relative;
}

.show-password-icon {
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 20px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 200px;
    overflow-y: scroll;
}

.checkbox-wrapper > input {
    width: 13px !important;
    height: 40px;
    padding-left: 20px;
    border-radius: 100px;
    background-color: rgb(235, 235, 245);
    border: 0 solid transparent;
}

.type-checkbox {
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .god-container {
        flex-direction: column;
        width: 90%;
    }

    .main-page-button-wrapper {
        padding: unset;
    }

    .box-logo {
        width: 70px;
        height: 70px;
        margin: 10px;
        position: relative;
        top: -10px;
        cursor: pointer;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        z-index: 100;
    }

    .r-god-container {
        flex-direction: column;
        width: 90%;
    }

    .super-container1 {
        background-color: #f2f2f2;
        flex: 1;
        padding: 3%;
        border-radius: 5% 5% 0 0%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .r-super-container1 {
        background-color: #f2f2f2;
        flex: 1;
        padding: 2% 2% 3% 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* justify-content: space-around; */
    }

    .super-container2 {
        background-color: #e5e5e5;
        flex: 3;
        padding-top: 2%;
        border-radius: 0% 0% 5% 5%;
        margin-top: -25px;
    }

    .button1 {
        margin-top: 1%;
        margin-bottom: 10%;
        padding: 3%;
    }

    .title-h2 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        padding: 10px;
    }

    .input-div {
        margin-bottom: 20px;
    }

    .input-div input {
        width: 70%;
        height: 40px;
        padding-left: 20px;
    }

    .r-subtitle-p {
        padding: 3%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Montserrat", sans-serif;
    }

    .checkbox-wrapper > input {
        width: 15px !important;
        /* height: 40px;
        padding-left: 20px;
        border-radius: 100px;
        background-color: rgb(235, 235, 245);
        border: 0 solid transparent; */
    }
}

@media screen and (max-width: 650px) {
    .super-container1 {
        padding: 5%;
    }

    .box-logo {
        width: 70px;
        height: 70px;
        margin: unset;
        position: relative;
        top: -10px;
        left: -20px;
        cursor: pointer;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        z-index: 100;
    }
}
